body { margin: 0; display: flex; justify-content: center; height: 100vh; align-items: center; }
/* .tab-menu {} */
input[name=tab] {
    display: none;
}
.slide {
    /* border: 1px solid red; */
    width: 300px;
    height: 300px;
    font-size: 0;
    position: relative;
    overflow: hidden;
}
.slide-inner {
    /* border: 1px solid blue; */
    width: 900px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

input[id=tab2]:checked ~ .slide .slide-inner {
    left: -300px;
}
input[id=tab3]:checked ~ .slide .slide-inner {
    left: -600px;
}
/* 버튼 */
.btn {
    text-align: center;
    margin-top: 10px;
}
.btn label {
    display: inline-block;
    background: lightgray;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    margin: 10px;
}
input[id=tab1]:checked ~ .btn label[for=tab1],
input[id=tab2]:checked ~ .btn label[for=tab2],
input[id=tab3]:checked ~ .btn label[for=tab3]
{
    background: salmon;
}
