body { margin: 0; display: flex; justify-content: center; height: 100vh; align-items: center; }

.tab-menu {
    /* border: 2px solid brown; */
    width: 300px;
    height: 300px;
    position: relative;
}

input[name=tab] { display: none; }

.content {
    /* display: none; */
    position: absolute;
    top: 0;
    left: -50px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.tab-menu #tab1:checked ~ .slide1,
.tab-menu #tab2:checked ~ .slide2,
.tab-menu #tab3:checked ~ .slide3 {
    display: inline-block;
    opacity: 1;
    visibility: visible;
    left: 0;
}

.badge1, .badge2, .badge3 {
    position: absolute;
    top: 0;
    left: 20px;
    font-size: 35px;
    background: salmon;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-weight: 900;
    padding-top: 10px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
}
.tab-menu #tab1:checked ~ .badge1, .tab-menu #tab2:checked ~ .badge2, .tab-menu #tab3:checked ~ .badge3 {
    transform: translateY(20px);
    opacity: 1;
    transition-delay: 0.3s;
}
.tab-menu #tab2:checked ~ .badge2 {
    background: skyblue;
}
.tab-menu #tab3:checked ~ .badge3 {
    background: yellowgreen;
}

.badge1 span, .badge2 span, .badge3 span {
    display: block;
    font-size: 25px;
}
.btn {
    /* border: 3px solid red; */
    position: absolute;
    width: 100%;
    height: 30px;
    top: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.btn label {
    display: inline-block;
    background: lightgray;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.tab-menu #tab1:checked ~ .btn label[for=tab1],
.tab-menu #tab2:checked ~ .btn label[for=tab2],
.tab-menu #tab3:checked ~ .btn label[for=tab3]  {
    background: salmon;
}