
.box {text-transform: capitalize; width: 600px; border: 2px solid blue; text-align: center; height: 100px; padding: 30px; box-sizing: border-box; margin: 20px;}
/* 

box-sizing: border-box는 초기 너비 값에 추가된 패딩값과 경게값을 모두 포함하여 
width 500px을 맞추는 것이다.

만약, box-sizing을 쓰지 않았을 경우,
600px + 패딩값 (30px+30px) + 보더값 (2px + 2px) 값이 추가되어 박스가 넓어지는 현상 나타난다. 
*/

.box2 {width: 600px; border: 2px solid red; height: 100px; }
.box2 div {border:1px solid black; width: 200px; height: 20px; float: left; box-sizing: border-box;}