.parent {
    position: relative;
    width: 500px;
    height: 500px;
    border: 1px solid;
}

/* 2번 */
/* .child {
    background: brown;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
} */

/* 3번 */
/* .child {
    background: brown;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
} */

/* 4번 */
/* .child {
    background: brown;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
} */

/* 5번 (정가운데) */
/* .child {
    background: brown;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */


/* ------------------------------------------------------- */
/* 부모요소 바깥에 위치시키기 */

/* 1 */
/* .child {
    position: absolute;
    background: green;
    width: 100px;
    height: 50px;
    top: 100%;
    left: 0;
} */

/* 2 */
/* .child {
    position: absolute;
    background: green;
    width: 100px;
    height: 50px;
    top: 100%;
    left: 100%;
} */

/* 3 */
.child {
    position: absolute;
    background: green;
    width: 100px;
    height: 50px;
    top: 0%;
    left: 100%;
}